<IfModule mod_rewrite.c>
    RewriteEngine on
    #www
    RewriteCond %{HTTP_HOST} .
    RewriteCond %{HTTP_HOST} ^www.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#index
#    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.(php|html|htm)\ HTTP/
#    RewriteRule ^(.*)index\.(php|html|htm)$ http://negative.in.ua/$1 [R=301,L]
#/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} ^(.+)/$
    RewriteRule ^(.+)/$ /$1 [R=301,L]
#/

    RewriteRule ^$ public/ [L]
    RewriteRule ((?s).*) public/$1 [L]
</IfModule>